
@import "../jquery-svg/jquery.svg.css";

body {
	font-family: 'Open Sans', sans-serif;
	/*overflow: auto;
	height: 100%;*/
}

#controller {
	z-index: 1000;
	width: 200px;
	position: relative;
	float: left;
}

/* forces divs (ie. "boxes") to maintain the padding amount within the width of a div (and not add it to the width). */
.floated_right, .floated_right:before, .floated_right:after,
.floated_left, .floated_left:before, .floated_left:after,
#container_background, #container_background:before, #container_background:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#container {
	z-index: 0;
	position: relative;
	top:0px;
	margin: 0 auto;
	width: 1200px;
	height: 1000px;

	/*margin: 0 0 0 50%;*/
	/*width: 800px;*/

	/*background-color: #F3F3F3;*/
	/*border: 1px solid red;			dev_option: make container easier to see.*/
}
#container_background {
	position: absolute;
	/*top:100px;*/
	left: 25%;
	width: 800px;
	margin:0;
	padding:0;
	/*height: 500px;*/
	/*bottom: 50px;*/
	/*margin-bottom: 50px;*/
	background-color: #F3F3F3;
	z-index: -2;
	border-radius: 6px;
	/*border: 1px solid green;*/
}
#wireless_container {
	background-color: #F3F3F3;
	border-radius: 6px;
}
#wired_container {
	border-radius: 6px;
}
#container_final {
	z-index: 0;
	position: relative;
	top:0px;
	margin: 0 auto;
	width: 1600px;
	height: 1000px;
	/*background-color: #F3F3F3;*/
	/*border: 1px solid red;			dev_option: make container easier to see.*/
}
.floated_left {
    float: left;
    width: 800px;
    position: relative;
    /*border: 3px solid red;*/
}
.floated_right {
    float: right;
    width: 800px;
    position: relative;
    /*border: 3px solid red;*/
}
.row {
	float: left;
	width: 1600px;
	margin: 0 0 50px 0;
}
/* removes blue highlight on text caused by jQuery Accordion : http://stackoverflow.com/questions/4265870/using-accordion-from-jquery-ui-im-getting-an-unwanted-blue-highlight-around-th */
.accordion .ui-state-focus {
  outline: none;
}
.accordion {
	width: 780px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.accordion:focus, .accordion:active {  
    outline: 0;  
} 
.accordion a {
	text-decoration: none;
}
.accordion .ui-accordion-header {  
    background-color: #ccc;  
    margin: 10px 0px 0px 0px;  
    /*border-radius: 6px;*/
}
/* When an accordion panel is closed, we round all corners of the header bar. */
.accordion .ui-corner-all {
	border-radius: 6px;	
}
/* When an accoriodn panel is open, we round only the top corners of the header bar. */
.accordion .ui-corner-top {
	border-radius: 6px 6px 0 0;	
}
/* We want all accordion headers to have space before them, except the first one (so it aligns with the top perfectly). */
.accordion .ui-accordion-header:first-child {  
    margin: 0px;  
}
.accordion .ui-accordion-header a {  
    color: #000;
    line-height: 42px;  
    display: block;  
    font-size: 16px;  
    width: 100%;  
    text-indent: 10px;  
    font-weight: 200;
}
.accordion .ui-accordion-content {  
    width: 100%;  
    background-color: #f3f3f3;  
    color: #777;  
    font-size: 10pt;  
    line-height: 16pt;
    border-radius: 0 0 6px 6px;
}  
/* Float-clearing technique, as found here : http://stackoverflow.com/questions/16568272/how-css-float-works-why-height-of-the-container-element-doesnt-increase-if-it */
.clear:after {
    clear: both;
    content: "";
    display: table;
}
.accordion .ui-accordion-content > * {  
    margin: 0;  
    padding: 40px;
}
.accordion .ui-accordion-content a {  
    color: #F3F3F3;  
}
/* Use same styles as device_advanced_panel */
.accordion .ui-accordion-content ul {
	list-style: none;
	overflow: hidden;		/* clears floats of certain UL elements */	
}
.accordion .ui-accordion-content ul li {
    width: 340px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    overflow: hidden;
    text-align: justify;
	color: #626D77;
	text-decoration: none;
}
.accordion .ui-accordion-content ul li.left {
	float: left;
}
.accordion .ui-accordion-content ul li.right {
	float: right;
}
.accordion .ui-accordion-content ul li.accordion_full_row {
	float: left;
	width: 100%;
	height: 100%;
}
.accordion .ui-accordion-content ul li input {
	font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
    width: 330px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
}
.accordion .help {
    width:15px;
    height:15px;
    -moz-border-radius: 15px/15px;
    -webkit-border-radius: 15px 15px;
    border-radius: 15px/15px;;
    margin-right:5px;
    background-color: #CCCCCC;
    text-align: center;
    padding: 0 6px;
    margin-left:5px;
    /*box-shadow: 1px 1px 3px #626D77;*/
}
.accordion .toggle_on {
	width: 64px;
	height: 21px;
	display:inline-block;
	background-image: url(../images/device_panel_btn_on.png);
}
.accordion .toggle_off {
	width: 64px;
	height: 21px;
	display:inline-block;
	background-image: url(../images/device_panel_btn_off.png);
}
.accordion .device_icons {
	width: 195px;
	height: 27px;
	display:inline-block;
	background-image: url(../images/device_panel_device_icons.png);
}
.accordion .restart {
	width: 75px;
	height: 21px;
	display:inline-block;
	background-image: url(../images/device_panel_btn_restart.png);
}
.accordion ul li.row_dhcp {
	width: 499px;
	height: 119px;
	display:inline-block;
	background-image: url(../images/device_panel_dhcp.png);
}
.accordion ul li.row_upnp {
	width: 499px;
	height: 80px;
	display:inline-block;
	background-image: url(../images/device_panel_upnp.png);
}
.accordion_cat_title {
	font-weight: bold;
	color: #FFF;
}
/* For tables inside the accordions for device settings (in 'accordion grid' layout). */
.tftable {
	color:#777;
	width:100%;
	border-width: 1px;
	border-color: #CCCCCC;
	border-collapse: collapse;
}
.tftable th {
	font-weight: normal;
	background-color:#F3F3F3;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #CCCCCC;
	text-align:left;
}
.tftable tr {
	background-color:#FFF;
}
.tftable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #CCCCCC;
}
.tftable tr:hover {
	background-color:#F3F3F3;
}


















.button {
}
.button:after {
	content: " >";
}

.button:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);
}

.invisible {
	display: none;
}

/* DIVs that contain a device */
.device {
	width: 200px;
	height: 200px;
	position: absolute;
	/*background-color: rgba(255,255,255,0.5);*/
}

.device:hover {
	cursor: pointer;
}

#icon_palette .device {
	position: relative;
	display: block;
	height: 100px;	
	margin-left: -10px;
}

.dragging {
	pointer-events:none;
}

#icon_palette .device.dragging {
    background-color: transparent;
    opacity: 0.5;
}

#icon_palette {
	/*
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	*/
}

.palette {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid black;*/
	padding: 10px;
	/*margin-top: 2em;*/
	background-color: rgba(255,255,255,0.75);
}
.palette h2 {
	margin-top: 0;
}
#ip_palette h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.palette .ip {
	background-color: rgba(200,200,200,0.5);
	margin-bottom: 2px;
	margin-top: 2px;
	text-align: center;
	font-weight: lighter;
}

.palette .ip:hover {
	cursor: pointer;
}

.shaded {
	background-color: rgba(200,200,200,0.5);
}

.device .name, .device .password {
	font-weight: lighter;
	text-align: center;
	/*background-color: rgba(255,255,255,0.8);*/
	padding: 7px;
	text-shadow: 1px 1px 0px #FFF;	
}
.device .password {
	/*font-size: 80%;*/
}

.device .name:hover, .device .password:hover {
	cursor: text;
	background-color: rgba(200,200,200,0.5);
}

.device .icon {
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
}

.device input {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	font-size: 100%;
	background-color: rgba(200,200,200,0.5);
	border: 0;
}

.networkbox .icon  {
	background-image: url(../images/device-networkbox.png);
}
.networkbox .info {
	margin-top: -40px;
}

.laptop .icon  {
	background-image: url(../images/device-laptop.png);
}

.laptop .info {
	margin-top: -30px;
}

.phone .icon  {
	background-image: url(../images/device-phone.png);
}
.phone .info {
	margin-top: -30px;
}

.storage .icon  {
	background-image: url(../images/device-storage.png);
}
.storage .info {
	margin-top: -40px;
}

.router .icon  {
	background-image: url(../images/device-router.png);
}
.router .info {
	display: none;
	margin-top: -40px;
}

.tv .icon  {
	background-image: url(../images/device-tv.png);
}
.tv .info {
	margin-top: -10px;
}

.tvbox .icon  {
	background-image: url(../images/device-tvbox.png);
}
.tvbox .info {
	margin-top: -40px;
}

.wifi .icon  {
	background-image: url(../images/device-wifi.png);
}
.wifi .info {
	margin-top: -20px;
}

.device .status {
	display: none;
	width: 75%;
	margin-left: auto; margin-right: auto;
	font-weight: lighter;
	font-style: italic;
	font-size: 75%;
	padding: 5px;
	background: rgba(200,200,200, 0.6);
}

.device.highlight {
	background-color: rgba(200,200,200,0.5);
}

.collapsed { 
	 /*background-color: rgba(200,200,200,.5); */
}

.collapsed:hover {
	cursor: pointer;
}

.badge {
	display: none;
}
.wired_grid_row .collapsed .badge  {
	display: none;
}
.collapsed .badge  {
	display: block;
	font-weight: bold;
	background-color: rgba(150,150,255,0.8);
	float: right;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-right: 55px;
	margin-top: 40px;
}

.connector  {
	stroke: #AAA;
	stroke-width: 2;
	fill: none;
}

.connector.wireless {
	stroke-dasharray: 5,5;
}
.connector.invisible {
	stroke-width: 0;
}

SVG {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	/*height: 4000px;*/
}
/*#svg_container {
	overflow: auto;
	height: 100%;
	width: 100%;
}*/

h2 {
	text-transform: uppercase;
	font-size: 12px;
	color: #626D77;
	text-decoration: none;
}
#sketchList a {
	color: black;
	display: block;
	width: 200px;
	text-decoration: none;
}
#sketchList a:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);
}

#sketchList a:before {
	content: "> ";
}