/* Reset */

#menu, #menu ul {
	margin: 0;
	padding:0;
	list-style: none;
}

/* Main Level */

#menu {
	width: 960px;
	margin: 60px auto;
	border-radius: 6px;
	/*border: 1px solid #222;
	background-color: #111;
	background-image: linear-gradient(#444, #111);*/
	/*box-shadow: 0 1px 1px #777;*/
	border: 1px solid #DDD;
	background-color: #F8F8F8;
	background-image: linear-gradient(#FAFAFA, #F3F3F3);
	box-shadow: 0 1px 1px #CCC;
	position: relative;
	z-index: 100000;					/*even though the sketches will be limited to a container away from the menu, we guarantee it will be at the top-level with z-index.*/
}

/* Clear Floats */

#menu:before,
#menu:after {
	content: "";
	display: table;
}

#menu:after{
	clear:both;
}

#menu {
	zoom:1;
}

/* List Elements */

#menu li {
	float: left;
	/*border-right: 1px solid #DDD;*/
	/*box-shadow: 1px 0 0 #F8F8F8;*/
	position: relative;
}

/* Exception: only for Google logo at top <li> level, add a right border. */
#menu > li:first-child {
	border-right: 1px solid #DDD;
}

.logo {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0;
	text-indent: -10000px;
}
.logo img {
	display: block;
	float: left;
	position: relative;
	z-index: 1;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

#menu a {
	float: left;
	padding: 20px 65px 10px 65px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #626D77;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #000;*/
}

/* Exception: reduce paddings for Google logo, for various alignment reasons. */
#menu > li:first-child a {
	padding: 15px 30px 10px 30px;
}

#menu li:hover > a {
	color: #207fd1;
}

/* Submenus */

#menu ul {
	margin: 20px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 70px;					/*?*/
	left: 60px;
	z-index: 1;
	border-radius: 3px;
	background: #F3F3F3;
	background: linear-gradient(#FAFAFA, #F3F3F3);
	box-shadow: 0 1px 1px #A5A5A5;
	/*background: #444;
	background: linear-gradient(#444, #111);
	box-shadow: 0 -1px 0 rgba(255,255,2550.3);
	box-shadow: 0 -1px 0 rgba(165,165,165,0.3);*/
	transition: all 0.4s ease-in-out;						/*fine-tune these timing setting to make sure the dropdowns are well usable.*/
	transition-delay: 0.4s;
}

#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	box-shadow: -1px  0 0 rgba(255,255,255,0.3);
}

#menu ul li {
	float: none;			/*?*/
	display: block;
	border: 0;
	box-shadow: 0 1px 0 #E0E0E0, 0 2px 0 #F8F8F8;				/*?*/
}

#menu ul li:last-child {
	box-shadow: none;
}

#menu ul a {
	padding: 10px;
	width: 130px;
	display: block;				/*?*/
	white-space: nowrap;		/*?*/
	float: none;				/*?*/
	text-transform: none;
}

#menu ul a:hover {
	/*background-color: #0186ba;
	background-image: linear-gradient(#04acec, #0186ba);*/
	color: #207fd1;
}

#menu ul li:first-child > a {
	border-radius: 3px 3px 0 0;
}

/*?*/
#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}
/*?*/
#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;
}
/*?*/
#menu ul li:first-child a:hover:after {
	/*border-bottom-color: #04acec; */			/*remove triangle hover color*/
}
/*?*/
#menu ul ul li:first-child a:hover:after {
	border-right-color: #0299d3; 
	border-bottom-color: transparent; 	
}
/*?*/
#menu ul li:last-child > a {
	border-radius: 0 0 3px 3px;
}

/* New icons 2 zone layout */
#wireless_icon {
	position: relative;
	width: 140px;
	height: 102px;
	margin: 0 auto;
	background-image: url(../images/wireless-icon.png);
}
#wired_container .networkbox .icon  {
	background-image: url(../images/network-box-icon.png);
	width: 140px;
}
.wireless_network .icon  {
	background-image: url(../images/wireless-icon.png);
	width: 140px;
}
.wireless_network .info {
	margin-top: -10px;
}

/*Device advanced settings panel for 2 zone layout*/
.device_advanced_panel {
	position: absolute;
	width: 400px;
	margin: 0 auto;
	background: #FFF;
	outline: 1px solid #DDD;				/*Use outline instead of border because border affects the width of the div, messes the perfect positioning over the device icon.*/
	border-radius: 3px;
	box-shadow: 1px 1px 3px #CCC;
	z-index: 1000000;
	display: none;
	/*opacity: 0.5;*/
}
.device_advanced_panel.networkbox {
	width: 500px;
}
.device_advanced_panel .icon {
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
}
.device_advanced_panel.networkbox .icon {
	width: 140px;												/*This icon is an exception and is wider than the others.*/
	background-image: url(../images/network-box-icon.png);
}
.device_advanced_panel.wireless_network {
	width: 500px;
}
.device_advanced_panel.wireless_network .icon {
	width: 140px;												/*This icon is an exception and is wider than the others.*/
}
.device_advanced_panel .name {
	font-weight: lighter;
	text-align: center;
	padding: 7px;
	margin-bottom: 40px;
}
.device_advanced_panel ul {
	list-style: none;
	margin: 0;
	/*padding: 10px;*/
	padding:0;
	padding-bottom: 30px;
	float:left;
	margin-left:0px;
	overflow: hidden;
	width: 100%;
}
.device_advanced_panel ul li {
	/*border-bottom: 1px solid black;*/
    float: left;
    width: 50%;
	margin: 0 0 5px 0;
    line-height: 20px;
    min-height: 20px;
    overflow: hidden;
    text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #626D77;
	text-decoration: none;
}
.device_advanced_panel ul li.text_box {
	width: 48%;/*47%;*/
	padding-left: 5px;
	border: 1px solid #CCCCCC;
}
/*.device_advanced_panel h2 {
	margin-bottom: 40px;
}*/
.device_advanced_panel .help {
    width:15px;
    height:15px;
    -moz-border-radius: 15px/15px;
    -webkit-border-radius: 15px 15px;
    border-radius: 15px/15px;;
    margin-right:5px;
    background-color: #CCCCCC;
    text-align: center;
    padding: 0 6px;
    margin-left:5px;
    /*box-shadow: 1px 1px 3px #626D77;*/
}
.device_advanced_panel .toggle_on {
	width: 64px;
	height: 21px;
	display:inline-block;
	background-image: url(../images/device_panel_btn_on.png);
}
.device_advanced_panel .toggle_off {
	width: 64px;
	height: 21px;
	display:inline-block;
	background-image: url(../images/device_panel_btn_off.png);
}
.device_advanced_panel .device_icons {
	width: 195px;
	height: 27px;
	display:inline-block;
	background-image: url(../images/device_panel_device_icons.png);
}
.device_advanced_panel .restart {
	width: 75px;
	height: 21px;
	display:inline-block;
	background-image: url(../images/device_panel_btn_restart.png);
}
.device_advanced_panel ul li.row_dhcp {
	width: 499px;
	height: 119px;
	display:inline-block;
	background-image: url(../images/device_panel_dhcp.png);
}
.device_advanced_panel ul li.row_upnp {
	width: 499px;
	height: 80px;
	display:inline-block;
	background-image: url(../images/device_panel_upnp.png);
}

















