
@import "jquery-svg/jquery.svg.css";

body {
	font-family: 'Open Sans', sans-serif;
}


#controller {
	z-index: 1000;
	width: 200px;
}

.button {
}
.button:after {
	content: " >";
}

.button:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);
}

.invisible {
	display: none;
}

.device {
	/* DIVs that contain a device */
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: rgba(255,255,255,0.5);
}

.shaded {
	background-color: rgba(200,200,200,0.5);
}

.device .name {
	font-weight: lighter;
	text-align: center;
}

.device .icon {
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
}

.networkbox .icon  {
	background-image: url(images/device-networkbox.png);
}
.laptop .icon  {
	background-image: url(images/device-laptop.png);
}
.phone .icon  {
	background-image: url(images/device-phone.png);
}
.storage .icon  {
	background-image: url(images/device-storage.png);
}
.router .icon  {
	background-image: url(images/device-storage.png);
}
.tv .icon  {
	background-image: url(images/device-tv.png);
}
.tvbox .icon  {
	background-image: url(images/device-tvbox.png);
}

.collapsed { 
	 /*background-color: rgba(200,200,200,.5); */
}

.collapsed:hover {
	cursor: pointer;
}

.badge {
	display: none;
}
.collapsed .badge {
	display: block;
	font-weight: bold;
	background-color: rgba(150,150,255,0.8);
	float: right;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-right: 50px;
	margin-top: 40px;
}

.connector  {
	stroke: #AAA;
	stroke-width: 1;
	fill: none;
}

.connector.wireless {
	stroke-dasharray: 5,5;
}

SVG {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

h2 {
	font-size: 100%;
	margin-bottom: 0;
	font-style: italic;
	font-weight: bold;
}
#sketchList a {
	color: black;
	display: block;
	width: 200px;
	text-decoration: none;
}
#sketchList a:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);
}

#sketchList a:before {
	content: "> ";
}